* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  line-height: 2rem;
  height: 100vh;
}

.content {
  padding: 15px;
}

.btn {
  border-radius: 35px;
}
.actions {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
.actions h4 {
  margin: 0;
}
.left-panel {
  position: sticky;
  top: 30%;
}

.spinner {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.search {
  position: relative;

  top: 50%;
  left: 55%;
  width: 350px;
  height: 30px;
  border-radius: 30px;
  border-bottom: 0px;
  transform: translate(-52%, -52%);
  background: #9b9b9b;
  text-decoration: none !important;
}
input:not([type]),
input[type="search"]:not(.browser-default) {
  background-color: transparent;
  border: none;
  border-bottom: 0px;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow 0.3s, border 0.3s;
}
.header--title {
  width: 50%;
  color: #e8e9f3;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  margin-left: 10%;
}
@media (max-width: 600px) {
  .left-panel {
    position: static;
  }
}
